Package: libpng16-16t64-dbgsym
Package-Type: ddeb
Source: libpng1.6
Version: 1.6.43-5ubuntu0.5+safelibs1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1742
Depends: libpng16-16t64 (= 1.6.43-5ubuntu0.5+safelibs1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libpng16-16t64
Build-Ids: 6bd2da608fab99d1b1a741b7c3492a7b8c81c531
Original-Maintainer: Maintainers of libpng1.6 packages <libpng1.6@packages.debian.org>
