Package: libpng-tools-dbgsym
Package-Type: ddeb
Source: libpng1.6
Version: 1.6.43-5ubuntu0.5+safelibs1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 82
Depends: libpng-tools (= 1.6.43-5ubuntu0.5+safelibs1)
Section: debug
Priority: optional
Description: debug symbols for libpng-tools
Build-Ids: 706a3ef18b6bc257f2821848487826577df78989 96d67680a587fd118375ad6f17524fb76903da60
Original-Maintainer: Maintainers of libpng1.6 packages <libpng1.6@packages.debian.org>
